border-radius box-shadow :hover body {
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sanchez", sans-serif;
  letter-spacing: 0.03em;
}

.card {
  width: 400px;
  position: relative;
}

.heart {
  position: absolute;
}
