body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhaina 2", cursive;
  line-height: normal;
}

header {
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #0d0808;
  background-color: #f19a3e;
  text-align: center;
  font-family: "Sanchez", serif;
}

header h1 {
  font-size: 50px;
  text-decoration: underline;
}

main {
  display: grid;
  justify-items: center;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #0d0808;
  background-color: #98d9c2;
  text-align: left;
}

main h2 {
  font-size: 1.8rem;
  text-decoration: underline;
}

img {
  width: 100px;
  height: auto;
}

footer {
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #0d0808;
  background-color: #f19a3e;
  text-align: left;
  font-family: "Sanchez", serif;
}

/* Class Selectors */

.page {
  max-width: 800px;
  margin: 0 auto;
}

.map {
  grid-column: 2/3;
}

.logo {
  grid-column: 3/4;
}

.purpose {
  grid-column: 1/4;
}

.content {
  grid-column: 1/4;
}

.audience {
  grid-column: 1/4;
}

.color {
  grid-column: 1/4;
}

.typography {
  grid-column: 1/4;
}
